main {
    background-color: black;
}

main h3 {
    background-color: rgb(0, 94, 255);
    color: white;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top: -40px;
}

.cartoonband {
    background-image: url("/img/jumbotron.jpg");
    height: 350px;
    background-size: cover;
}

.boxed_main{
    padding: 50px 10px;
    gap: 18px;
    position: relative;
}