main {
    background-color: black;
}

main h3 {
    background-color: rgb(0, 94, 255);
    color: white;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top: -40px;
}

.cartoonband {
    background-image: url("/img/jumbotron.jpg");
    height: 350px;
    background-size: cover;
}

.boxed_main{
    padding: 50px 10px;
    flex-direction: column;
    position: relative;
}
.card_container{
    display: flex;
    gap:20px;
    margin-top:20px;
    flex-wrap: wrap;
    justify-content:center;
}