.fascia_blu {
    background-color: rgb(0, 94, 255);
}

.boxed {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    padding: 0px;
}

.card_shop {
    width: 20%;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    margin: 0 30px;
}

.card_shop img {
    height: 50px;
}

.card_shop p {
    font-size: 12px;
    color: white;
}