.boxed {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.logo img {
    width: 80px;
}

.menu {
    font-size: 14px;
    font-weight: 600;
}

.menu ul {
    display: flex;
    gap: 2rem;
}

.menu ul li {
    list-style: none;
}

.menu a {
    color: black;
    text-decoration: none;

}

.menu a:hover {
    color: blue;
}