.boxed {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 80px;
}
.logo{
    padding: 10px;
}

.menu {
    font-size: 14px;
    font-weight: 600;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.menu li {
    display:flex;
    align-items: center;
    height: 100px;
}

.menu a {
    color: black;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu a:hover {
    color: rgb(150, 150, 150);
}

.menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: rgb(150, 150, 150);

  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.35s ease;
}

.menu a:hover::after {
  transform: scaleX(1);
}

.menu a.active{
    color: rgb(40, 119, 255);
}
.menu a.active::after {
    transform: scaleX(1);
    background-color: rgb(40, 119, 255);
}
