main {
    background-color: black;
}

main h3 {
    background-color: rgb(0, 94, 255);
    color: white;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top: -40px;
}

.cartoonband {
    background-image: url("/img/jumbotron.jpg");
    height: 350px;
    background-size: cover;
}

.boxed {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
    flex-wrap: wrap;
    gap: 18px;
    position: relative;
}