main {
    background-color: black;
}

main h3 {
    background-color: rgb(0, 94, 255);
    color: white;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top: -40px;
}

.cartoonband {
    background-image: url("/img/jumbotron.jpg");
    height: 350px;
    background-size: cover;
}

.boxed {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
    flex-wrap: wrap;
    gap: 18px;
    position: relative;
}

.card {
    width: 180px;
    height: 250px;

    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
}

.card .cover {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

.card p {
    color: white;
}