.card_shop {
    max-width: 18%;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    gap:10px;
}

.card_shop img {
    height: 50px;
}

.card_shop p {
    font-size: 12px;
    color: white;
}

@media screen and (max-width: 950px){
    
    .card_shop {
        min-width:30%;
    }
}