:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* --------------------------------HEADER---------------------------------- */

header {
  background-color: white;
  min-height: 100px;
}

.boxed {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

.logo img {
  width: 80px;
}

.menu {
  font-size: 14px;
  font-weight: 600;
}

.menu ul {
  display: flex;
  gap: 2rem;
}

.menu ul li {
  list-style: none;
}

.menu a {
  color: black;
  text-decoration: none;

}

.menu a:hover {
  color: blue;
}

/* -----------------------------------MAIN--------------------------------------- */

main {
  background-color: black;
  min-height: 300px;
}

main .boxed {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 10px 0;
}

main .boxed p {
  color: white;
}


/* -----------------------------------FOOTER--------------------------------------- */

footer .boxed {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  padding: 0px;
}

.fascia_blu {
  background-color: rgb(0, 94, 255);
}

.fascia_image {
  background-image: url(/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.fascia_grey {
  background-color: rgb(50, 50, 50);
}

.card_shop {
  width: 20%;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  margin: 0 30px;
}

.card_shop img {
  height: 50px;
}

.card_shop p {
  font-size: 12px;
  color: white;
}

.footermenu {
  padding: 20px 0;
  width: 50%;
  display: flex;
  gap: 2.5rem;
}

.dc_back {
  background-image: url(/img/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.col_menu h2 {
  color: white;
}

.col_menu ul {
  padding-left: 0;
}

.col_menu li {
  list-style: none;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.col_menu a {
  text-decoration: none;
  color: rgb(187, 187, 187);
}

.col_menu a:hover {
  color: blue;
}

.socialmenu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socialmenu h3 {
  color: rgb(0, 94, 255);
}

.fascia_grey .boxed {
  padding: 10px 0;
  align-items: center;
}

.fascia_grey button {
  background: transparent;
  border: 2px solid rgb(0, 94, 255);
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.fascia_grey button:hover {
  background-color: rgb(0, 94, 255);
}